
div.container{
    text-align: left;
    background-color: #fcbbff;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
}
html body{
    background-color:#f6ddff;
}
h1.my-4{
    text-align: center;
}
div.card-body{
    background-color: #ffe7c7;
}
input#components{
    background-color: #ffffff;
}
.card-header {
    background-color: #ffd859;
}
button.btn{
    background-color: #0088ff;
}
button.btn.btn-secondary{
    background-color: rgb(156, 156, 156);
}